/* Import font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Import font Exo */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;300;400;500;600;700&display=swap');

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font Exo for Title */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo', sans-serif;
}

/* font Poppins for paragraf */
p, .text, li {
  font-family: 'Poppins', sans-serif;
}
